# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual environment
.venv/
venv/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/

# Env files
.env
env/

# IDE
.vscode/
.idea/


# config
config.test.json

# Only ignore log and csv files
logs/*.log
logs/*.csv